__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log


.mypy_cache/
.pytest_cache/
.cache/
*.sqlite3


venv/
.env/
*.env


.idea/
.vscode/
*.code-workspace
*.swp
*~


.DS_Store
Thumbs.db


**/docker-data/
**/redis-data/
*.pid


*.log
logs/


\.cache/
